body {                                                             
  background-color: honeydew;
}

#breedInfo {
  border: 0.1rem solid black;
  padding: 1rem;
  background-color: lightyellow;
  visibility: hidden;
}

.button-54 {
  background-color: bisque;
}

/* Swiper */

.swiper {
  width: 70rem;
  height: 35rem;
  border: 0.1rem solid black;
}

.swiper-slide {
  background-color: mistyrose;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

:root {
  --swiper-navigation-color: hotpink;
  --swiper-pagination-color: hotpink;
}